@{
	ViewData["Title"] = "High Key";
}

<div class="text-center">
	<h1 class="display-4">@ViewBag.pf_rd_p</h1>
	<h1 class="display-4">@ViewBag.pf_rd_r</h1>
	<h1 class="display-4">@ViewBag.pd_rd_r</h1>
	<h1 class="display-4">@ViewBag.pd_rd_wg</h1>
	<h1 class="display-4">@ViewBag.pd_rd_i</h1>
	<h1 class="display-4">@ViewBag.psc</h1>
	<h1 class="display-4">@ViewBag.ref_</h1>
</div>
