@{
	ViewData["Title"] = "Main";
}

<div class="text-center">
	<h1 class="display-4">@ViewBag.app</h1>
	<h1 class="display-4">@ViewBag.forceUCI</h1>
	<h1 class="display-4">@ViewBag.pagetype</h1>
	<h1 class="display-4">@ViewBag.id</h1>
	<h1 class="display-4">@ViewBag.type</h1>
</div>
