@{
	ViewData["Title"] = "Manage";
}

<div class="text-center">
	<h1 class="display-4">@ViewBag.slug1</h1>
	<h1 class="display-4">@ViewBag.slug2</h1>
	<h1 class="display-4">@ViewBag.slug3</h1>
	<h1 class="display-4">@ViewBag.slug4</h1>
	<h1 class="display-4">@ViewBag.slug5</h1>
</div>